<html>
    <head>
        <title>Shape Identifier</title>
        
        <link rel="stylesheet" href="{{url_for('static',filename='styles.css')}}">

        <script src="{{url_for('static', filename='game.js')}}"></script>
        
    </head>
    <body>
        <div class="titleDiv">
            <h1> Shape Detector App</h1>
        </div>
        <div class="canvasDiv">
            <p style="color:red">Draw either a circle, square or triangle</p>
            <canvas id="#canvas1" width="200" height="200" >

            </canvas>
            <button onclick="clearCanvas()"> Clear</button>
            <button onclick="predictImage()">Predict</button>

        </div>
        


        
    </body>
</html>